name: Scan Secrets
on:
  workflow_call:

jobs:
  secret-scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: TruffleHog OSS
        uses: trufflesecurity/trufflehog@main
        with:
          base: ""
          head: ${{ github.sha }}
          extra_args: --only-verified
